
body{
    background-color: bisque;
}

.head{
    margin-left: 50px;
    margin-top: 50px;

    font-family: Arial, Helvetica, sans-serif;
}

.blocks{
    margin-top: 40px;
}

.head .title{
    color: blueviolet;
    
}

h1{
    color: blue;
}
h2{
    color: blue;
}


.span_1{
    color: red;
}

.block_3 {
    display: flex;
}

.mood{
    margin-top: 60px;
    margin-left: 40px;
}

img{
    width: 350px;
    
}